input[data-readonly] {
	pointer-events: none;
}

#btnCart {
	padding: 5px 10px;
	margin: 10px 10px;
	background-color: #efefef;
	border: #E0E0E0 1px solid;
	color: #211a1a;
	float: right;
	text-decoration: none;
	border-radius: 3px;
	cursor: pointer;
}

#btnLogin {
	padding: 5px 10px;
	background-color: #efefef;
	border: #E0E0E0 1px solid;
	color: #211a1a;
	float: left;
	text-decoration: none;
	border-radius: 3px;
	cursor: pointer;
}

.btnAddAction {
	padding: 5px 8px;
	margin-left: 5px;
	background-color: #efefef;
	border: #E0E0E0 1px solid;
	color: #211a1a;
	float: right;
	text-decoration: none;
	border-radius: 3px;
	cursor: pointer;
}

.cart {
	font-size: 0.9em;
}


.cart-action {
	float: right;
}

.product-quantity {
	padding: 5px 8px;
	border-radius: 3px;
	border: #E0E0E0 1px solid;
	float: left;"
}

.cart-item-image {
	width: 30px;
    height: 30px;
    border-radius: 50%;
    border: #E0E0E0 1px solid;
    padding: 5px;
    vertical-align: middle;
    margin-right: 15px;
}
.no-records {
	text-align: center;
	margin: 40px;
}

.btnRemoveAction
{
	width: 20px;
	height: 20px;
}

.card-transition {
	position: relative;
}

.overlay {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	color: #FFFFFF;
	padding:10px;
	transition:0.5s;
	opacity:0;
}

.card-transition:hover .overlay {
	background-color:rgba(0,0,0,0.6);
	transition:0.5s 0.1s;
	opacity:1;
}

.text {
	color: white;
	font-size: 16px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/*html {*/
	/*height: 100%;*/
	/*box-sizing: border-box;*/
/*}*/

/**,*/
/**:before,*/
/**:after {*/
	/*box-sizing: inherit;*/
/*}*/

/*.footer {*/
	/*position: absolute;*/
	/*right: 0;*/
	/*bottom: 0;*/
	/*left: 0;*/
	/*padding: 1rem;*/
	/*background-color: #efefef;*/
	/*text-align: center;*/
/*}*/